/* body, html, #particles-js {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
} */

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(68, 0, 255), rgb(0, 191, 255));
}

.name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.icons {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icons a {
    margin: 0 10px;
    display: inline-block;
    border-radius: 70%;  /* Circular border */
    transition: background-color 0.3s;  /* Smooth background color transition */
}

.icons a:hover {
    background-color: rgb(13, 186, 255);  /* Change background color to white on hover */
}

.icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;  /* Circular border for img too, if icons are circular */
}

/* Section 2*/


#image-text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;  /* Padding at the top and bottom */
}

.container {
    width: 80%;  /* Adjust width as needed */
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    margin-bottom: 20px;  /* Space between items */
}

.item.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    margin: 0 20px;  /* Space between text and image */
}

img {
    width: 300px;  /* Adjust image width as needed */
    border-radius: 10px;  /* Optional: for rounded corners */
}



